

button {
  height: 40px;
  width: 6cm;
}

h3 {
  text-align: center;
  color: #39A2DB;
  font-size: 17px;
}

h4 {
  font-size: 18px;
  color: black;
  background-color: #dc143c;
  text-align: center;
  height: 45px;
  width: 20%;
  border-radius: 60%;
}

.kiara {
  text-align: center;
  background-color: red;
  height: 150px;
  width: 150px;
  border-radius: 60%;
}

.middle-container{ display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  text-align: center;
}
